.codebar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 2em;
  font: 300 14px/2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  @media screen and (min-width: 768px) {
    padding: 0 300px 0 0;
  }
  a {
    text-decoration: none;
  }
  .browser-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    li {
      display: inline;
      padding: 0 1em;
      font-size: 14px;
    }
    .v {
      margin-left: .25em;
    }
    .y {
      color: #39b54a;
    }
    .n {
      color: #c44230;
    }
  }
  .player-list {
    position: absolute;
    right: 14px;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    li {
      display: inline;
      font-size: 14px;
    }
  }
  &-dark {
    background: #333;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    a {
      color: #bbb;
      &:hover {
        color: #ddd;
      }
    }
    .browser-list {
      li + li {
        border-left: 1px solid #424242;
      }
    }
    .player-list {
      li + li {
        &:before {
          margin: 0 .5em;
          content: "&";
          font-family: Baskerville, Palatino, serif;
          font-style: italic;
        }
      }
    }
  }
}
